div{
    width: 200px;
    height: 200px;
    ;
}
h1{
    background-color: pink;
    
   
}
span{
    margin-left:25px;
}
#one{
    background-color: pink;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    margin-left: 50px;
    margin-bottom: 150px;
}
#two{
    background-color: rgb(232, 109, 129);
    border-color:rgb(247, 231, 211);
    border-width: 5px;
    border-style: dashed;
    padding-right: 75px;
    margin: 200px;
    
    }

#three{
    background-color: rgb(147, 21, 42);
    border: 4px dotted black;
    border-left-style: solid;
    border-radius: 50%;
}
button{
    padding: 10px 15px 20px 30px;
    border-radius: 10%;
    background-color: blue;
}